body {background-color:#DDDDDD; text-color:#000000; font-family:"arial", "helvetica", "sans-serif"; margin-left:2em; margin-right:2em}

p {margin-left:100px; margin-right:80px; font-family:"arial", "helvetica", "sans-serif"}

.toc {list-style-type:"upper-roman"; font-family:"arial", "helvetica", "sans-serif"; margin-left:120px; margin-right:120px}

.subtoc {list-style-type:disc; font-family:"arial", "helvetica", "sans-serif"}


.title {font-family:times; text-align:center; font-size:x-large}

.subtitle {font-family:times; text-align:center; font-weight:bold}

.head {background-color:#6699FF; color:#000000; margin:0px; border:none; font-size:large; text-indent:80px; margin-bottom:30px; font-family:"arial", "helvetica", "sans-serif"}

.subhead {background-color:#99CCFF; margin:0px; border:none; font-size:1.15em; text-indent:80px; margin-bottom:10px; font-family:"arial", "helvetica", "sans-serif"}

.subsubhead {background-color:#BBBBBB; margin:0px; border:none;  font-weight:bold; text-indent:80px; margin-bottom:10px; font-family:"arial", "helvetica", "sans-serif"}

.firstpara {margin-left:20px; margin-right:10px; text-align:left; font-family:"arial", "helvetica", "sans-serif"}

.nextpara {margin-left:20px; margin-right:10px; text-align:left; text-indent:2em;  font-family:"arial", "helvetica", "sans-serif"}

.example {margin-left:50px; white-space:pre; font-family:monospace}

blockquote {margin-left:150px; font-family:times}

.list {font-family:"arial", "helvetica", "sans-serif"; margin-left:100px}

td {font-family:"arial", "helvetica", "sans-serif"}

.small {font-size:small; margin-right:5em; font-family:"arial", "helvetica", "sans-serif"}
