BODY 		{ background: #FFFFFF; color: black; }

A:link		{ color: #892009; }
A:visited	{ color: #c4480c; }

INPUT		{ color: black; background: #FFFFFF;  }

H1		{ color: #000000; font-size: xx-large; }
H2		{ color: #000000; font-size: x-large; }
H3		{ color: #000000; font-size: large; }


/* For table captions. */
CAPTION		{ color: #000000; }
TD		{ color: black; }
TH		{ color: black; }
