<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
For more information, please see: http://software.sci.utah.edu

The MIT License

Copyright (c) 2004 Scientific Computing and Imaging Institute,
University of Utah.

License for the specific language governing rights and limitations under
Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the "Software"),
to deal in the Software without restriction, including without limitation
the rights to use, copy, modify, merge, publish, distribute, sublicense,
and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.
-->

<!--% require("../Utilities/Publish/srdoc.rb") %-->
<!--% doc = Doc.create(Doc::HTML) %-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript" src="../Utilities/HTML/tools.js"></script>
    <script type="text/javascript">var doc = new IndexDocument();</script>
    <title>Index to User Documentation</title>
  </head>  


  <body>
    <script type="text/javascript">doc.preContent();</script>

    <div class="page-title">
      <h1>User Documentation</h1>
      <h2>(v. <!--%= doc.edition %-->)</h2>
    </div>

    <div class="doc-group">
      <h1>General</h1>

      <h2>Guide</h2>
      <div class="doc-links">
	<a href="Guide/usersguide/index.html">HTML multiple pages</a> | 
	<a href="Guide/usersguide.pdf">PDF</a>
      </div>
      <p>A guide to the concepts and use of the SCIRun
      problem solving environment.</p>

      <h2>FAQ</h2>
      <div class="doc-links">
	<a href="FAQ/faq.html">HTML one page</a> | 
	<a href="FAQ/faq.pdf">PDF</a>
      </div>
      <p>Common user questions and answers.</p>

      <h2>Module Reference</h2>
      <div class="doc-links">
	<a href="../Developer/Modules/index.html">HTML multiple pages</a> |
	<a href="../Developer/Modules/srmrg.pdf">PDF</a>
      </div>
      <p>Descriptions of SCIRun modules organized by package (and by
      category and alphabetically)</p>
    </div>
    
    <div class="doc-group">
      <h1>Tutorials</h1>
      
      <h2>SCIRun</h2>
      <div class="doc-links">
	<a href="Tutorials/SCIRun_Intro/index.html">HTML multiple pages</a>
      </div>
      <p>An interactive introduction to SCIRun for new
      users.</p>
      
      <h2>BioFEM</h2>
      <div class="doc-links">
	<a href="Tutorials/BioFEM/BioFEM.html">HTML multiple pages</a>
      </div>
      <p>An introduction to the BioFEM application</p>

      <h2>BioImage</h2>
      <div class="doc-links">
	<a href="Tutorials/BioImage/bioimage.html">HTML one page</a> |
	<a href="Tutorials/BioImage/index.html">HTML multiple pages</a> |
	<a href="Tutorials/BioImage/bioimage.pdf">pdf</a>
      </div>
      <p> An introduction to the BioImage application </p>

      <h2>BioTensor</h2>
      <div class="doc-links">
	<a href="Tutorials/BioTensor/BioTensor.html">HTML multiple pages</a>
      </div>
      <p> An introduction to the BioTensor application </p>

      <h2>FusionViewer</h2>
      <div class="doc-links">
	<a href="Tutorials/FusionViewer/FusionViewer.html">HTML one page</a>
      </div>
      <p>An introduction to the FusionViewer application</p>

    </div>

    <div class="doc-group">
      <h1>Publication References</h1>

      <h2>SCIRun Citation</h2>
      <p><a
      href="JavaScript:newWindow('http://software.sci.utah.edu/scirun-biopse_citation.bib',
      '600','400','1')">BibTeX and plain text versions</a> for use
      in publications that reference SCIRun's use.</p>

      <h2>BioPSE Citation</h2>
      <p><a
      href="JavaScript:newWindow('http://software.sci.utah.edu/scirun-biopse_citation.bib',
      '600','400','1')">BibTeX and plain text versions</a> for use
      in publications that reference BioPSE's use.</p>
    </div>
    <div class="clear-left"></div>

    <script type="text/javascript">doc.postContent();</script>
  </body>

</html>
