## Makefile.vc.config
##
## written by Chris Moulding 7/99

##########################  EDIT HERE  #########################

## set VERSION to build debug or release versions of all binaries
## NOTE: debug versions will have "d" appended to their names
#VERSION      = Release
VERSION       = Debug

## set the warning level
#WARNING      = -W2
WARNING       = -W1

## suppress echoing of commands issued by nmake (1=suppress 0=don't suppress)
#SILENT_ECHO  = 1
SILENT_ECHO   = 0

## the paths to 3rd party libraries
LIBPATH       = -LIBPATH:c:\progra~1\oncrpc\lib\
				-LIBPATH:c:\progra~1\zlib\lib\
		        -LIBPATH:c:\progra~1\tcl\src\tcl8.0.5\win\$(VERSION)\
				-LIBPATH:c:\progra~1\tcl\src\tk8.0.5\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\itcl3.0.1\itcl\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\itcl3.0.1\itk\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\blt2.4i\src

## the paths to 3rd party include files
INCPATH       = -Ic:\progra~1\oncrpc\rpc\
                -Ic:\progra~1\zlib\include\
				-Ic:\progra~1\tcl\src\tcl8.0.5\generic\
				-Ic:\progra~1\tcl\src\tcl8.0.5\win\
				-Ic:\progra~1\tcl\src\tk8.0.5\generic\
				-Ic:\progra~1\tcl\src\tk8.0.5\win\
				-Ic:\progra~1\tcl\src\tk8.0.5\xlib\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itcl\generic\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itcl\win\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itk\generic\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itk\win\

################################################################


!if ($(SILENT_ECHO))
CC   = @cl
LINK = @link
MAKE = @nmake
RM   = @del
!else
CC   = cl
LINK = link
MAKE = nmake
RM   = del
!endif


!ifndef PROCESSOR_ARCHITECTURE
!message ***
!message *** Environment variable PROCESSOR_ARCHITECTURE not set.
!message *** It must be set to "x86" for Intel processors, or "ALPHA" 
!message *** for DEC Alpha processors.  No other processors are
!message *** supported at this time.
!message ***
!error One or more environment variables not set.
!endif


########################################################################################
#
# Set processor architecture specific flags
#

!if ("$(PROCESSOR_ARCHITECTURE)"=="x86")
ARCHFLAGS        = -D_X86_
DLLENTRY         = @12
MACHINE          = -MACHINE:IX86
!elseif ("$(PROCESSOR_ARCHITECTURE)"=="ALPHA")
ARCHFLAGS        = -D_ALPHA_
DLLENTRY         = 
MACHINE          = -MACHINE:ALPHA
!endif


  

########################################################################################
#
# Set version (debug or release) specific flags
#

!if ("$(VERSION)"=="Debug")
VERSION_CFLAGS   = -Zi -Od -GZ -MDd -DDEBUG
VERSION_LFLAGS   = -DEBUG -DEBUGTYPE:BOTH -PDBTYPE:SEPT -nodefaultlib:libcd.lib msvcrtd.lib
APPENDIX         = d
!elseif ("$(VERSION"=="Release")
VERSION_CFLAGS   = -Ox -MD
VERSION_LFLAGS   = -RELEASE -nodefaultlib:libc.lib msvcrt.lib
APPENDIX         =
!endif




########################################################################################
#
# Set SCI and 3rdParty flags
#

SCI_FLAGS        = -DTEMPLATE_TAG="" -DTEMPLATE_BOX="" -DSCI_NOMMAP_IO
3RDPARTYFLAGS    = -DUSE_TCLALLOC=0 -DUSE_NATIVEMALLOC




########################################################################################
#
# Concatenate all flags so far with flags that will build .exe binaries
#

EXE_CFLAGS       = -c -nologo -D_MT -D_WIN32 $(WARNING) $(ARCHFLAGS) $(VERSION_CFLAGS) $(SCI_FLAGS) $(3RDPARTYFLAGS)
EXE_LFLAGS       = -nologo $(MACHINE) $(VERSION_LFLAGS)  




########################################################################################
#
# Concatenate all flags so far with flags that will build .dll binaries
#

DLL_CFLAGS       = $(EXE_CFLAGS) -D_DLL
DLL_LFLAGS       = $(EXE_LFLAGS) -entry:_DllMainCRTStartup$(DLLENTRY) -DLL

