#!/bin/bash
export SCIRUN_OBJDIR=${0/"\/SCIRun.launch"/""}
export SCIRUN_SRCDIR=`cd ${SCIRUN_OBJDIR}/../src; pwd`
export SCIRUN_THIRDPARTY_DIR=`cd ${SCIRUN_OBJDIR}/../Thirdparty; pwd`
export SCIRUN_ITCL_WIDGETS=${SCIRUN_THIRDPARTY_DIR}/lib/iwidgets/scripts
export SCIRUN_DATA=~/SCIRun/Data
export SCIRUN_DATASET=utahtorso-lowres
export DYLD_LIBRARY_PATH=${SCIRUN_THIRDPARTY_DIR}/lib:${SCIRUN_OBJDIR}/lib/
export TCL_LIBRARY=${SCIRUN_THIRDPARTY_DIR}/lib/tcl
env >& /tmp/SCIRun.env
exec ${SCIRUN_OBJDIR}/scirun-bin >& /tmp/SCIRun.log