#
#  The contents of this file are subject to the University of Utah Public
#  License (the "License"); you may not use this file except in compliance
#  with the License.
#  
#  Software distributed under the License is distributed on an "AS IS"
#  basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
#  License for the specific language governing rights and limitations under
#  the License.
#  
#  The Original Source Code is SCIRun, released March 12, 2001.
#  
#  The Original Source Code was developed by the University of Utah.
#  Portions created by UNIVERSITY are Copyright (C) 2001, 1994 
#  University of Utah. All Rights Reserved.
#

## Makefile.vc.config
##
## written by Chris Moulding 7/99

##########################  EDIT HERE  #########################

## set VERSION to build debug or release versions of all binaries
## NOTE: "d" will be appended to the names of debug libraries (ala tcl/tk).
#VERSION      = Release
VERSION       = Debug

## set the warning level
#WARNING      = -W2
WARNING       = -W1

## suppress echoing of commands issued by nmake (1=suppress 0=don't suppress)
#SILENT_ECHO  = 1
SILENT_ECHO   = 0

## the default paths to 3rd party libraries
LIBPATH       = -LIBPATH:c:\progra~1\oncrpc\lib\
				-LIBPATH:c:\progra~1\zlib\lib\
		        -LIBPATH:c:\progra~1\tcl\src\tcl8.0.5\win\$(VERSION)\
				-LIBPATH:c:\progra~1\tcl\src\tk8.0.5\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\itcl3.0.1\itcl\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\itcl3.0.1\itk\win\$(VERSION)\
		        -LIBPATH:c:\progra~1\tcl\src\blt2.4i\src

## the default paths to 3rd party include files
INCPATH       = -Ic:\progra~1\oncrpc\
                -Ic:\progra~1\oncrpc\rpc\
                -Ic:\progra~1\zlib\include\
				-Ic:\progra~1\tcl\src\tcl8.0.5\generic\
				-Ic:\progra~1\tcl\src\tcl8.0.5\win\
				-Ic:\progra~1\tcl\src\tk8.0.5\generic\
				-Ic:\progra~1\tcl\src\tk8.0.5\win\
				-Ic:\progra~1\tcl\src\tk8.0.5\xlib\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itcl\generic\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itcl\win\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itk\generic\
				-Ic:\progra~1\tcl\src\itcl3.0.1\itk\win\

################################################################


