<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--
  For more information, please see: http://software.sci.utah.edu

  The MIT License

  Copyright (c) 2004 Scientific Computing and Imaging Institute,
  University of Utah.

  License for the specific language governing rights and limitations under
  Permission is hereby granted, free of charge, to any person obtaining a
  copy of this software and associated documentation files (the "Software"),
  to deal in the Software without restriction, including without limitation
  the rights to use, copy, modify, merge, publish, distribute, sublicense,
  and/or sell copies of the Software, and to permit persons to whom the
  Software is furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included
  in all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
  THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
  DEALINGS IN THE SOFTWARE.
-->

<!--% require("Utilities/Publish/srdoc.rb") %-->
<!--% doc = Doc.create(Doc::HTML) %-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript" src="../doc/Utilities/HTML/tools.js"></script>
    <script type="text/javascript">var doc = new IndexDocument();</script>
    <title>Guide to SCIRun Documentation</title>
  </head>  

  <body>
    <script type="text/javascript">doc.preContent();</script>

    <div class="page-title">
      <h1>SCIRun Documentation (v.<!--%= doc.edition %-->)</h1>
      <h2><a href="ReleaseNotes/index.html">Release Notes</a></h2>
<!--%=
      "<h2><a href=\"SCIRunDocs.#{doc.edition}.tar.gz\">Documentation Tarball</a></h2>"
%-->
    </div>
    
    <div class="doc-group">
      <h1>Installation</h1>
      <h2> Linux</h2>
      <div class="doc-links">
	<a href="Installation/Guide/linux/srig.html">HTML one page</a> | 
	<a href="Installation/Guide/linux/index.html">HTML multiple pages</a> |
	<a href="Installation/Guide/linux/srig.pdf">PDF</a>
      </div>
      <p>Installation instructions for SCIRun, third party
      libraries, sample data
      sets, and documentation for the Linux platform.</p>

      <h2>Mac OS X</h2>
      <div class="doc-links">
	<a href="Installation/Guide/osx/srig.html">HTML one page</a> | 
	<a href="Installation/Guide/osx/index.html">HTML multiple pages</a> |
	<a href="Installation/Guide/osx/srig.pdf">PDF</a>
      </div>
      <p>Installation instructions for Mac OS X platform.</p>
      
      <h2>SGI Irix</h2>
      <div class="doc-links">
	<a href="Installation/Guide/irix/srig.html">HTML one page</a> | 
	<a href="Installation/Guide/irix/index.html">HTML multiple pages</a> |
	<a href="Installation/Guide/irix/srig.pdf">PDF</a>
      </div>
      <p>Installation instructions for SGI's Irix platform.</p>

      <h2>FAQ</h2>
      <div class="doc-links">
	<a href="Installation/FAQ/faq.html">HTML one page</a> | 
	<a href="Installation/FAQ/faq.pdf">PDF</a>
      </div>
      <p>Common installation questions and answers.</p>
    </div>
    
    <div class="doc-group">
      <h1>Tutorials</h1>
      <h2>SCIRun</h2>
      <div class="doc-links">
	<a href="User/Tutorials/SCIRun_Intro/index.html">HTML multiple pages</a>
      </div>
      <p>An interactive introduction to SCIRun for new users.</p>

      <h2>BioFEM</h2>
      <div class="doc-links">
	<a href="User/Tutorials/BioFEM/BioFEM.html">HTML multiple pages</a>
      </div>
      <p>An introduction to the BioFEM application.</p>

      <h2>BioImage</h2>
      <div class="doc-links">
	<a href="User/Tutorials/BioImage/bioimage.html">HTML one page</a> |
	<a href="User/Tutorials/BioImage/index.html">HTML multiple pages</a> |
	<a href="User/Tutorials/BioImage/bioimage.pdf">PDF</a>
      </div>
      <p>An introduction to the BioImage application.</p>

      <h2>BioTensor</h2>
      <div class="doc-links">
	<a href="User/Tutorials/BioTensor/BioTensor.html">HTML multiple pages</a>
      </div>
      <p>An introduction to the BioTensor application.</p>
      
      <h2>FusionViewer</h2>
      <div class="doc-links">
	<a href="User/Tutorials/FusionViewer/FusionViewer.html">HTML one page</a>
      </div>
      <p>An introduction to the FusionViewer application</p>
    </div>

    <div class="doc-group">
      <h1>User</h1>

      <h2>Guide</h2>
      <div class="doc-links">
	<a href="User/Guide/usersguide/index.html">HTML multiple pages</a> | 
	<a href="User/Guide/usersguide.pdf">PDF</a>
      </div>
      <p>A guide to the concepts and use of the SCIRun
      problem solving environment.
      </p>

      <h2>Module Reference</h2>
      <div class="doc-links">
	<a href="Developer/Modules/index.html">HTML multiple pages</a> |
	<a href="Developer/Modules/srmrg.pdf">PDF</a>
      </div>
      <p>Descriptions of SCIRun modules organized by package (and by
      category and alphabetically).</p>

      <h2>FAQ</h2>
      <div class="doc-links">
	<a href="User/FAQ/faq.html">HTML one page</a> | 
	<a href="User/FAQ/faq.pdf">PDF</a>
      </div>
      <p>Common user questions and answers.</p>
    </div>

    <div class="clear-left"></div>

    <div class="doc-group">
      <h1>Developer</h1>
      <h2>Guide</h2>
      <div class="doc-links">
	<a href="Developer/Guide/srdg.html">HTML one page</a> | 
	<a href="Developer/Guide/index.html">HTML multiple pages</a> |
	<a href="Developer/Guide/srdg.pdf">PDF</a>
      </div>
      <p>A guide to writing SCIRun modules, data types, and
      other code.</p>
      <h2>Documentum</h2>
      <div class="doc-links">
	<a href="Documentum/documentum.html">HTML one page</a> |
	<a href="Documentum/documentum-chunk.html">HTML multiple pages</a> |
	<a href="Documentum/documentum.pdf">PDF</a>
      </div>
      <p>Information for those writing or building SCIRun
      documentation.</p>
      <!-- 	<h2><a href="Documentum/doc_inventory.html">Inventory</a> -->
      <!-- 	<sup><a href="Documentum/doc_inventory.pdf">pdf</a></sup></h2> -->
      <!-- 	<p>An inventory of current and proposed documentation and -->
      <!-- 	associated tasks.</p> -->
      <h2>Module Spec Reference</h2>
      <div class="doc-links">
	<a href="Documentum/mod-spec-ref.html">HTML one page</a> |
	<a href="Documentum/mod-spec-ref-chunk.html">HTML multiple pages</a> |
	<a href="Documentum/mod-spec-ref.pdf">PDF</a>
      </div>
      <p>Information for those writing module specification
      documents.</p>

      <h2>FAQ</h2>
      <div class="doc-links">
	<a href="Developer/FAQ/faq.html">HTML one page</a> | 
	<a href="Developer/FAQ/faq.pdf">PDF</a>
      </div>
      <p>Common developer questions and answers.</p>
    </div>

    <div class="doc-group">
      <h1>Publication References</h1>
      <h2>SCIRun Citation</h2>
      <p><a
      href="JavaScript:newWindow('http://software.sci.utah.edu/scirun-biopse_citation.bib',
      '600','400','1')">BibTeX and plain text versions</a> for use
      in publications that reference SCIRun's use.</p>
      <h2>BioPSE Citation</h2>
      <p><a
      href="JavaScript:newWindow('http://software.sci.utah.edu/scirun-biopse_citation.bib',
      '600','400','1')">BibTeX and plain text versions</a> for use
      in publications that reference BioPSE's use.</p>
    </div>

    <script type="text/javascript">doc.postContent();</script>
  </body>

</html>
