body {background-color:#EEEEEE; text-color:#000000; font-family:"times"; margin-left:2em; margin-right:2em}

p {margin-left:90px; margin-right:80px; font-family:"serif"}

.toc {list-style-type:"upper-roman"; font-family:"serif"; margin-left:60px; margin-right:60px}

.subtoc {list-style-type:disc; font-family:"serif"}


.title {font-family: "times"; font-weight:bold; font-size:x-large; color:#660000; margin-bottom:0px; margin-top:0px; text-align:center}

.subtitle {font-family:times; text-align:center; font-weight:bold}

.head {color:#000000; margin:0px; margin-top:25px; border:none; font-size:large; font-family:"arial", "helvetica", "sans-serif"}

.subhead {margin-left:10px; font-style:italic; font-size:1.15em; font-family:"arial", "helvetica", "sans-serif"}

.subsubhead {margin-left:10px; font-weight:bold; font-family:"arial", "helvetica", "sans-serif"}

.firstpara {margin-left:20px; margin-right:10px; text-align:left; font-family:"serif"}

.nextpara {margin-left:20px; margin-right:10px; text-align:left; text-indent:2em;  font-family:"serif"}

.example {margin-left:50px; white-space:pre; font-family:monospace}

blockquote {margin-left:150px; font-family:times}

.list {font-family:"serif"; margin-left:60px}

td {font-family:"arial", "helvetica", "sans-serif"}

.small {font-size:small; font-family:"arial", "helvetica", "sans-serif"}
