#
#  The contents of this file are subject to the University of Utah Public
#  License (the "License"); you may not use this file except in compliance
#  with the License.
#  
#  Software distributed under the License is distributed on an "AS IS"
#  basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
#  License for the specific language governing rights and limitations under
#  the License.
#  
#  The Original Source Code is SCIRun, released March 12, 2001.
#  
#  The Original Source Code was developed by the University of Utah.
#  Portions created by UNIVERSITY are Copyright (C) 2001, 1994 
#  University of Utah. All Rights Reserved.
#

# Configuration file for the Immersive Workbench.

TRACKER TYPE FASTRAK
TRACKER SHARED_ARENA /tmp/.fastrakd
TRACKER TRANSMITTER_MATRIX
1.0      0.0     0.0    0.0
0.0      1.0     0.0   -33.0
0.0      0.0     1.0   -3.0
0.0      0.0     0.0    1.0

CONTROLLER0 TYPE STYLUS
CONTROLLER0 RECEIVER 0
CONTROLLER0 RECEIVER_OFFSET
0.0	1.0	0.0	0.0
1.0	0.0	0.0	-0.5
0.0	0.0	-1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 TYPE PINCH
CONTROLLER1 RECEIVER0 2
CONTROLLER1 RECEIVER1 3
CONTROLLER1 RECEIVER_OFFSET0
1.0	0.0	0.0	4.5
0.0	1.0	0.0	1.0
0.0	0.0	1.0	4.5
0.0	0.0	0.0	1.0
CONTROLLER1 RECEIVER_OFFSET1
1.0	0.0	0.0	0.0
0.0	1.0	0.0	0.0
0.0	0.0	1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 SHARED_ARENA /tmp/.pinchd

VIEWER LEFT_EYE_OFFSET
0.0	0.0	1.7
VIEWER MIDDLE_EYE_OFFSET
0.0	0.0	3.4
VIEWER RIGHT_EYE_OFFSET
0.0	0.0	5.1

VIEWER LEFT_EYE_NEAR_FAR
0.01	100000.0
VIEWER MIDDLE_EYE_NEAR_FAR
0.01	100000.0
VIEWER RIGHT_EYE_NEAR_FAR
0.01	100000.0

VIEWER EYE_RECEIVER 1

SURFACE SIZE
72.0    54.0
SURFACE ROTCENTER
0.0     -28.0   0.0
SURFACE ROTAXIS
1.0     0.0     0.0
SURFACE UPVECTOR
0.0     1.0     0.0
SURFACE ANGLE
10
