#
# Configuration file for the Immersive Workbench.
#

TRACKER TYPE FASTRAK
TRACKER SHARED_ARENA /tmp/.fastrakd
TRACKER TRANSMITTER_MATRIX
1.0	 0.0	 0.0	0.0
0.0	 1.0	 0.0   -33.0
0.0	 0.0	 1.0   -3.0
0.0	 0.0	 0.0	1.0

CONTROLLER0 TYPE STYLUS
CONTROLLER0 RECEIVER 0
CONTROLLER0 RECEIVER_OFFSET
0.0	1.0	0.0	0.0
1.0	0.0	0.0	-0.5
0.0	0.0	-1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 TYPE PINCH
CONTROLLER1 RECEIVER0 2
CONTROLLER1 RECEIVER1 3
CONTROLLER1 RECEIVER_OFFSET0
1.0	0.0	0.0	4.5
0.0	1.0	0.0	1.5
0.0	0.0	1.0	4.5
0.0	0.0	0.0	1.0
CONTROLLER1 RECEIVER_OFFSET1
1.0	0.0	0.0	0.0
0.0	1.0	0.0	0.0
0.0	0.0	1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 SHARED_ARENA /tmp/.pinchd

VIEWER LEFT_EYE_OFFSET
0.0	0.0	1.7
VIEWER MIDDLE_EYE_OFFSET
0.0	0.0	3.2
VIEWER RIGHT_EYE_OFFSET
0.0	0.0	4.7

VIEWER LEFT_EYE_NEAR_FAR
2.0	10000.0
VIEWER MIDDLE_EYE_NEAR_FAR
2.0	10000.0
VIEWER RIGHT_EYE_NEAR_FAR
2.0	10000.0

VIEWER EYE_RECEIVER 1

WINDOW INIT_COMMAND
/usr/gfx/setmon -n 1024x768_120s
WINDOW EXIT_COMMAND
/usr/gfx/setmon -n 1280x1024_60

SURFACE SIZE
72.0	54.0
SURFACE ROTCENTER
0.0	-28.0	0.0
SURFACE ROTAXIS
1.0	0.0	0.0
SURFACE UPVECTOR
0.0	1.0	0.0
SURFACE ANGLE
10
