#
#  The MIT License
#
#  Copyright (c) 1997-2012 The University of Utah
# 
#  Permission is hereby granted, free of charge, to any person obtaining a copy
#  of this software and associated documentation files (the "Software"), to
#  deal in the Software without restriction, including without limitation the
#  rights to use, copy, modify, merge, publish, distribute, sublicense, and\/or
#  sell copies of the Software, and to permit persons to whom the Software is
#  furnished to do so, subject to the following conditions:
# 
#  The above copyright notice and this permission notice shall be included in
#  all copies or substantial portions of the Software.
# 
#  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
#  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
#  IN THE SOFTWARE.
# 
# 
# 
# 
# 
# Configuration file for the Immersive Workbench.

TRACKER TYPE FASTRAK
TRACKER SHARED_ARENA /tmp/.fastrakd
TRACKER TRANSMITTER_MATRIX
1.0      0.0     0.0    0.0
0.0      1.0     0.0   -33.0
0.0      0.0     1.0   -3.0
0.0      0.0     0.0    1.0

CONTROLLER0 TYPE STYLUS
CONTROLLER0 RECEIVER 0
CONTROLLER0 RECEIVER_OFFSET
0.0	1.0	0.0	0.0
1.0	0.0	0.0	-0.5
0.0	0.0	-1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 TYPE PINCH
CONTROLLER1 RECEIVER0 2
CONTROLLER1 RECEIVER1 3
CONTROLLER1 RECEIVER_OFFSET0
1.0	0.0	0.0	4.5
0.0	1.0	0.0	1.0
0.0	0.0	1.0	4.5
0.0	0.0	0.0	1.0
CONTROLLER1 RECEIVER_OFFSET1
1.0	0.0	0.0	0.0
0.0	1.0	0.0	0.0
0.0	0.0	1.0	0.0
0.0	0.0	0.0	1.0

CONTROLLER1 SHARED_ARENA /tmp/.pinchd

VIEWER LEFT_EYE_OFFSET
0.0	0.0	1.7
VIEWER MIDDLE_EYE_OFFSET
0.0	0.0	3.4
VIEWER RIGHT_EYE_OFFSET
0.0	0.0	5.1

VIEWER LEFT_EYE_NEAR_FAR
0.01	100000.0
VIEWER MIDDLE_EYE_NEAR_FAR
0.01	100000.0
VIEWER RIGHT_EYE_NEAR_FAR
0.01	100000.0

VIEWER EYE_RECEIVER 1

SURFACE SIZE
72.0    54.0
SURFACE ROTCENTER
0.0     -28.0   0.0
SURFACE ROTAXIS
1.0     0.0     0.0
SURFACE UPVECTOR
0.0     1.0     0.0
SURFACE ANGLE
10
